<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="theme-color" content="wheat" />
   <!-- <link rel="shortcut icon" href="%PUBLIC_URL%/favicon.ico" /> -->
   <link rel="manifest" href="manifest.json" />
   <link rel='stylesheet' href='../public/stylesheets/style.css'/>
   <title>API EndPoints for <%= APPNAME %></title>
</head>
<body>
   <h1>API EndPoints for <%= APPNAME %></h1>
   <h2>This is the Root.</h2>
   <h3><i> - All general API routes are as follows: </i></h3>
   <ul>
      <% Object.keys(endPoints).forEach((ep)=>{ %>
         <li>
            <a href=<%= `${endPoints[ep][0]}` %>>
               <%- `Route: ${endPoints[ep][0]}  -  ${endPoints[ep][1]}` %>
            </a>
         </li>
      <% }); %>
   </ul>
   <pre>
   <p><strong>STANDARD RESPONSE FORMAT : </strong></p>
   {
      "info": {
         "result":true,                         // or false -- for error condition
         "message":"All users list.",           // will show specific info
         "records":9   (or System error info)   // additional info
      },
      "tuples": [                               // if any tuples returned
         {"field":"data","field2":"data2"   etc... },
         {"field":"data","field2":"data2"   etc... }
      ]
   }
   </pre>
   <p>Now running at : <%= `${HOST} Port:${PORT}` %> </p>
   <h3>Using ElephantSQL database.</h3>
</body>
</html>